<html ng-controller="langwijController">
	<head>

		<meta name="viewport" content="initial-scale=1.0,width=320.1,user-scalable=no,minimum-scale=1.0, maximum-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="css/framework/reset.css">
		<link rel="stylesheet" type="text/css" href="css/framework/global.css">
		<link rel="stylesheet" type="text/css" href="css/framework/typography.css">
		<link rel="stylesheet" type="text/css" href="css/framework/colors.css">
		<link rel="stylesheet" type="text/css" href="css/framework/structure.css">
		<link rel="stylesheet" type="text/css" href="css/framework/effects.css">
		<link rel="stylesheet" type="text/css" href="css/framework/forms.css">
		<link rel="stylesheet" type="text/css" href="css/framework/navs.css">
		<link rel="stylesheet" type="text/css" href="css/framework/slidepanel.css">
		<link rel="stylesheet" type="text/css" href="css/framework/buttons.css">
		<link rel="stylesheet" type="text/css" href="css/framework/images.css">
		<link rel="stylesheet" type="text/css" href="css/framework/lightbox.css">
		<link rel="stylesheet" type="text/css" href="css/framework/states.css">
		<link rel="stylesheet" type="text/css" href="css/framework/media-phone.css">

		<link rel="stylesheet" type="text/css" href="css/app.css">

	</head>
	<body class="enhanced bg-white gray-333333 has-header-fixed">

		<header class="nav bg-gray-e1e1e8 full-width position-fixed to-top z-index-1 touch-height">
			<ul>
				<li class="display-inline-block width-one-third text-align-left">
					<form>
						<label for="nav_primary_toggle" class="media-mobile white touch-height touch-width"></label>
		 				<input type="checkbox" class="nav-collapsible-toggle media-mobile touch-height touch-width is-hidden-via-opacity" name="nav_primary_toggle" id="nav_primary_toggle">
						<nav class="slidepanel left with-transition bg-gray text-align-left">
							<h3 class="bg-gray-e1e1e8 padding-0-1em">General</h3>
							<ul class="gray-eeeeee padding-1em">
								<li><a href="">Home</a></li>
								<li><a href="">Playlists</a></li>
								<li><a href="">Change Language</a></li>
							</ul>
							<h3 class="bg-gray-e1e1e8 padding-0-1em">My Account</h3>
							<ul class="gray-eeeeee padding-1em">
								<li><a href="">My Preferences</a></li>
								<li><a href="">Change Password</a></li>
								<li><a href="">Change Email</a></li>
								<li><a href="">Log Out</a></li>
							</ul>
							<h3 class="bg-gray-e1e1e8 padding-0-1em">Help</h3>
							<ul class="gray-eeeeee padding-1em">
								<li><a href="">F.A.Q.</a></li>
								<li><a href="">Contact Us</a></li>
							</ul>
						</nav>
					</form>
				</li><!--
			 --><li class="display-inline-block width-one-third middle text-align-center">
					<h1><a href="" title="Home">langwij</a></h1>
				</li><!--
			 --><li class="display-inline-block position-relative width-one-third text-align-right">
					<form name="language_selector" id="language_selector">
						<label for="language_selector_select" class="media-mobile white touch-height touch-width"></label>
						<select class="is-hidden-via-opacity" name="language_selector_select" id="language_selector_select" ng-model="selectedLanguage" ng-options="language for language in languages" ng-change="updateLanguage()">
							<option value="French">French</option>
							<option value="Spanish">Spanish</option>
							<option value="Portuguese">Portuguese</option>
						</select>
					</form>
				</li>
			</ul>
		</header>

		<section class="content narrow-width margin-0-auto padding-2em-1em">

			<you-tube-embed v="{{ v }}"></you-tube-embed>

			<div class="language-scene">

				<button id="player_control_play" ng-click="playVideo()">play</button>
				<button id="player_control_pause" ng-click="pauseVideo()">pause</button>
				<button id="player_control_stop" ng-click="stopVideo()">stop</button>

			</div>

			<br>

			<ol id="playlist" class="playlist full-width list-block" ng-show="playlistItems">
				<li class="playlist-item full-width clearfix" ng-repeat="playlistItem in playlistItems">
					<a href="" title="" class="playlist-item-anchor" ng-click="changeVideoURL( playlistItem.v )">
						<ul class="list-block">
							<li class="item-thumbnail"><img src="{{ playlistItem.thumbnail }}"></li>
							<li class="item-title">{{ playlistItem.itemTitle }}</li>
							<li class="item-url">{{ playlistItem.url }}</li>
							<li class="item-duration">{{ playlistItem.duration }}</li>
							<li class="item-meta">
								<ul class="list-inline">
									<li>A</li><!--
								 --><li>B</li><!--
								 --><li>C</li>
								</ul>
							</li>
							<li class="item-language is-hidden">{{ playlistItem.language }}</li>
						</ul>
					</a>
				</li>
			</ol>

			<br>

			<footer class="text-align-center">
				<nav id="tertiary" class="padding-1em">
					<ul>
						<li><a href="" title="" class="full-width touch-height">Link 1</a></li>
						<li><a href="" title="" class="full-width touch-height">Link 2</a></li>
						<li><a href="" title="" class="full-width touch-height">Link 3</a></li>
					</ul>
				</nav>
				<span class="copyright display-block padding-1em">&copy; 2014 langwij</span>
			</footer>
		</section>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
		<script src="js/app.js"></script>
		<script src="//www.youtube.com/player_api"></script>
		<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>

	</body>
</html>