/* LOADING SCREEN */
/* WAITING DOT 1 */
@-webkit-keyframes waiting-1 { 
    0% {opacity:1;}
    70.9% {opacity:1;}
    71% {opacity:0;}
    100% {opacity:0;}
}
@-moz-keyframes waiting-1 { 
    0% {opacity:1;}
    70.9% {opacity:1;}
    71% {opacity:0;}
    100% {opacity:0;}
}
@-ms-keyframes waiting-1 { 
    0% {opacity:1;}
    70.9% {opacity:1;}
    71% {opacity:0;}
    100% {opacity:0;}
}
@keyframes waiting-1 { 
    0% {opacity:1;}
    70.9% {opacity:1;}
    71% {opacity:0;}
    100% {opacity:0;}
}

/* WAITING DOT 2*/
@-webkit-keyframes waiting-2 { 
    0% {opacity:0;}
    29% {opacity:0;}
    30% {opacity:1;}
    59% {opacity:1;}
    60% {opacity:1;}
    70% {opacity:1;}
    71% {opacity:0;}
    100% {opacity:0;}
}
@-moz-keyframes waiting-2 { 
    0% {opacity:0;}
    29% {opacity:0;}
    30% {opacity:1;}
    59% {opacity:1;}
    60% {opacity:1;}
    70% {opacity:1;}
    71% {opacity:0;}
    100% {opacity:0;}
}
@-ms-keyframes waiting-2 { 
    0% {opacity:0;}
    29% {opacity:0;}
    30% {opacity:1;}
    59% {opacity:1;}
    60% {opacity:1;}
    70% {opacity:1;}
    71% {opacity:0;}
    100% {opacity:0;}
}
@keyframes waiting-2 { 
    0% {opacity:0;}
    29% {opacity:0;}
    30% {opacity:1;}
    59% {opacity:1;}
    60% {opacity:1;}
    70% {opacity:1;}
    71% {opacity:0;}
    100% {opacity:0;}
}

/* WAITING DOT 3 */
@-webkit-keyframes waiting-3 { 
    0% {opacity:0;}
    59% {opacity:0;}
    60% {opacity:1;}
    70% {opacity:1;}
    71% {opacity:0;}
    100% {opacity:0;}
}
@-moz-keyframes waiting-3 { 
    0% {opacity:0;}
    59% {opacity:0;}
    60% {opacity:1;}
    70% {opacity:1;}
    71% {opacity:0;}
    100% {opacity:0;}
}
@-ms-keyframes waiting-3 { 
    0% {opacity:0;}
    59% {opacity:0;}
    60% {opacity:1;}
    70% {opacity:1;}
    71% {opacity:0;}
    100% {opacity:0;}
}
@keyframes waiting-3 { 
    0% {opacity:0;}
    59% {opacity:0;}
    60% {opacity:1;}
    70% {opacity:1;}
    71% {opacity:0;}
    100% {opacity:0;}
}
.dot-container {
    display: inline-block;
    width: 25px;
    text-align: left;
    position: relative;
    left:0px;
}
.dot-container {
    list-style:none;
    margin:0;
    padding:0;
    margin-left: 3px;
}
    .dot-container li {
        display:inline;
        margin-left: 0px; /*inline list fix */
        line-height: 1.4;

        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -ms-animation-duration: 1s;
        animation-duration: 1s;

        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -ms-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    
        position: relative;
}
        .dot-container li:nth-of-type(1) { 
            -webkit-animation-name: waiting-1;
            -moz-animation-name: waiting-1;
            -ms-animation-name: waiting-1;
            animation-name: waiting-1;
        }
        .dot-container li:nth-of-type(2) {
            -webkit-animation-name: waiting-2;
            -moz-animation-name: waiting-2;
            -ms-animation-name: waiting-2;
            animation-name: waiting-2;
        }
        .dot-container li:nth-of-type(3) {
            -webkit-animation-name: waiting-3;
            -moz-animation-name: waiting-3;
            -ms-animation-name: waiting-3;
            animation-name: waiting-3;
        }